:root {
    --darker-color: #000000;
    --dark-color: #222222;
    --light_dark-color: #4A4A4A;
    --success-color: #4BC800;
    --cross-color: #D12B2A;
    --light-color: #EEF8FB;
    --lighter-color: white;
    --lighter_dark-color: #64717e7c;

}

/* #region *** Common ***  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    min-width: 630px;
}

/* #endregion *** Common ***  */

/* #region *** Utility ***  */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text_center {
    text-align: center;
}

.p_10 {
    padding: 10px;
}
/* #endregion *** Utility ***  */

/* #region *** Header ***  */

header {
    background-color: var(--darker-color);
    min-height: 35px;
    justify-content: end;
    align-items: center;
    font-size: 11px;
    column-gap: 5px;
}


.speaker_view, .extend_view {
    color: white;
    padding: 5px;
    background-color: var(--light_dark-color);
    border-radius: 5px;
}

.extend_view {
    margin-right: 5px;
}
/* #endregion *** Header ***  */

/* #region *** Main ***  */

main {
    column-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: var(--darker-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 80vh;
    overflow: scroll;
}

.webcam_user{
    max-width: calc(100% / 8);
    min-width: 165px;
}

.webcam_user img {
    max-width: 100%;
}

.webcam_user .name_user {
    bottom: 6px;
    left: 0;
    background-color: var(--lighter_dark-color);
    padding: 5px;
    padding-bottom: 5px;
    color: var(--lighter-color);
    font-size: 12px;
}

/* #endregion *** Main ***  */

/* #region *** Footer ***  */

footer {
    justify-content: space-between;
    color: var(--lighter-color);
    background-color: var(--dark-color);
}

footer p {
    font-size: 11px;
}

.footer_icon {
    font-size: 20px;
}

.up {
    align-self: center;
    font-size: 12px;
}

.share_screen i {
    color: var(--success-color);
}

.right_footer {
    align-items: center;
    background-color: var(--light_dark-color);
    color: var(--cross-color);
    font-weight: 500;
}

/* #endregion *** Footer ***  */